asn1crypto==1.5.1
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.3
idna==3.11
pefile==2023.2.7
pycparser==2.23
pyelftools==0.32
pyfsig==1.1.1
requests==2.32.5
types-pefile==2023.2.7.post0
types-requests==2.32.4.20260107
urllib3==2.6.3
